body {
    background-color: #f8fafc;
    font-family: 'Inter', sans-serif;
}

.navbar {
    background: linear-gradient(90deg, #0078ff, #00c3ff);
}

.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.table {
    border-radius: 12px;
    overflow: hidden;
}

    .table thead {
        background-color: #0078ff;
        color: #fff;
    }

.btn {
    border-radius: 8px !important;
    font-weight: 500;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}
